name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  unittest:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v2
      with:
        go-version: '1.19'
    - name: Install dependencies
      run: sudo apt-get install libdb-dev libbtrfs-dev pkg-config libdevmapper-dev
    - name: Run unit tests
      run: go test ./...